{% extends 'layout.html' %}

{% block content %}

<div>
    <h1 class="text-light">About</h1>
    <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis cupiditate blanditiis earum laudantium, nostrum
        quisquam tempore architecto consectetur distinctio omnis quibusdam maiores perspiciatis minus obcaecati provident
        non minima fugit dolorum eum eligendi doloribus rerum? Fugiat at, id nulla harum commodi velit quidem distinctio a
        consequuntur quis corrupti quam nesciunt, officia suscipit explicabo repudiandae ea quae, aut quia esse minus nisi
        iste excepturi! Nulla ratione quod cumque laborum eveniet perferendis sapiente, id corrupti ab voluptates, hic velit
        vel quis? Inventore sint in aperiam quaerat qui! Libero aspernatur aut impedit nostrum, reiciendis consequatur,
        ipsum molestiae quaerat adipisci, cum voluptate illo. Perspiciatis debitis ducimus excepturi, impedit quasi qui
        neque praesentium necessitatibus dignissimos reiciendis, inventore in laborum explicabo maiores suscipit veritatis
        ab magni enim blanditiis perferendis nostrum! Enim asperiores, molestias illo maxime repellat facilis necessitatibus
        esse amet autem omnis saepe eius minus? Fugit debitis explicabo optio quod enim officia velit suscipit, quibusdam
        laudantium quo quam ducimus fugiat asperiores harum? Facere ducimus corrupti sequi tempora quos suscipit numquam,
        doloremque deserunt saepe rem deleniti unde quod. Explicabo, totam voluptatibus veniam sit molestias exercitationem
        repellat? Perspiciatis asperiores quas inventore fugiat architecto dolorem, placeat vel ratione quae odio
        aspernatur. Quo consequuntur qui itaque repellendus. Autem doloribus aspernatur amet non. Tempora dignissimos minus
        iure modi? Dolorem commodi obcaecati nam consectetur aperiam voluptate provident sed, optio ipsa dolorum
        praesentium. Eum, quasi iure! A fuga quasi recusandae autem omnis error maiores, consequuntur officia quidem soluta
        eos aliquid vero suscipit quae, laboriosam veritatis veniam temporibus asperiores cumque architecto obcaecati. Nulla
        dolores id ipsum ab exercitationem accusamus reiciendis labore delectus. Eos, cumque cum voluptas, ea, nostrum et
        dignissimos quod blanditiis pariatur ratione aliquam fugit magni rerum tempora nam labore consequatur ad? Accusamus,
        dignissimos! Eaque quam consequuntur ea labore illo voluptatibus quibusdam ipsa! Inventore iusto placeat reiciendis
        laboriosam nulla explicabo blanditiis eaque, asperiores nostrum?</p>
</div>
{% endblock %}